-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: thriftbid_db2
-- ------------------------------------------------------
-- Server version	8.0.45-0ubuntu0.22.04.1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ADDRESSES`
--

DROP TABLE IF EXISTS `ADDRESSES`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ADDRESSES` (
  `address_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `user_type` enum('Buyer','Seller') COLLATE utf8mb4_unicode_ci NOT NULL,
  `street_address` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `city` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `province` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `zip_code` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_default` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`address_id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ADMIN`
--

DROP TABLE IF EXISTS `ADMIN`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ADMIN` (
  `admin_id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `first_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`admin_id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `AUCTIONS`
--

DROP TABLE IF EXISTS `AUCTIONS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `AUCTIONS` (
  `auction_id` int NOT NULL AUTO_INCREMENT,
  `start_bid` decimal(10,2) NOT NULL,
  `min_increment` decimal(10,2) NOT NULL,
  `current_highest_bid` decimal(10,2) DEFAULT '0.00',
  `start_time` datetime NOT NULL,
  `end_time` datetime NOT NULL,
  `status` enum('Active','Closed') COLLATE utf8mb4_unicode_ci DEFAULT 'Active',
  `listing_type` enum('Auction') COLLATE utf8mb4_unicode_ci DEFAULT 'Auction',
  `extension_count` int DEFAULT '0',
  `listing_id` int NOT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`auction_id`),
  KEY `FK_AUCTIONS_LISTING` (`listing_id`),
  CONSTRAINT `FK_AUCTIONS_LISTING` FOREIGN KEY (`listing_id`) REFERENCES `LISTINGS` (`listing_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=241 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `AUDIT_LOGS`
--

DROP TABLE IF EXISTS `AUDIT_LOGS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `AUDIT_LOGS` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `admin_id` int NOT NULL,
  `action_taken` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `table_affected` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `record_id` int NOT NULL,
  `old_value` text COLLATE utf8mb4_unicode_ci,
  `new_value` text COLLATE utf8mb4_unicode_ci,
  `timestamp` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`),
  KEY `FK_AUDIT_ADMIN` (`admin_id`),
  CONSTRAINT `FK_AUDIT_ADMIN` FOREIGN KEY (`admin_id`) REFERENCES `ADMIN` (`admin_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `AUTHENTICATION`
--

DROP TABLE IF EXISTS `AUTHENTICATION`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `AUTHENTICATION` (
  `authentication_id` int NOT NULL AUTO_INCREMENT,
  `listing_id` int NOT NULL,
  `authentication_status` enum('Verified','Pending','Rejected') COLLATE utf8mb4_unicode_ci DEFAULT 'Pending',
  `verified_by_admin_id` int DEFAULT NULL,
  `date_verified` datetime DEFAULT NULL,
  `manufacture_year` year DEFAULT NULL,
  `remarks` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`authentication_id`),
  KEY `FK_AUTH_LISTING` (`listing_id`),
  CONSTRAINT `FK_AUTH_LISTING` FOREIGN KEY (`listing_id`) REFERENCES `LISTINGS` (`listing_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`leila`@`localhost`*/ /*!50003 TRIGGER `before_authentication_require_admin` BEFORE UPDATE ON `AUTHENTICATION` FOR EACH ROW BEGIN
    IF NEW.authentication_status IN ('Verified','Rejected') AND NEW.verified_by_admin_id IS NULL THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'An admin must be attached to verify or reject an authentication request.';
    END IF;
    IF NEW.authentication_status IN ('Verified','Rejected') AND NEW.date_verified IS NULL THEN
        SET NEW.date_verified = NOW();
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`leila`@`localhost`*/ /*!50003 TRIGGER `after_authentication_status_change` AFTER UPDATE ON `AUTHENTICATION` FOR EACH ROW BEGIN
    IF NEW.authentication_status <> OLD.authentication_status THEN
        IF NEW.authentication_status = 'Verified' THEN
            UPDATE LISTINGS SET is_active = TRUE WHERE listing_id = NEW.listing_id;

            INSERT INTO NOTIFICATIONS (seller_id, title, message, notification_type)
            SELECT l.seller_id, 'Item Authenticated', CONCAT('"', l.title, '" passed authentication and is now live.'), 'SYSTEM'
              FROM LISTINGS l WHERE l.listing_id = NEW.listing_id;

        ELSEIF NEW.authentication_status = 'Rejected' THEN
            UPDATE LISTINGS SET is_active = FALSE WHERE listing_id = NEW.listing_id;

            INSERT INTO NOTIFICATIONS (seller_id, title, message, notification_type)
            SELECT l.seller_id, 'Authentication Rejected',
                   CONCAT('"', l.title, '" failed authentication', IFNULL(CONCAT(': ', NEW.remarks), '.')), 'SYSTEM'
              FROM LISTINGS l WHERE l.listing_id = NEW.listing_id;
        END IF;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `BIDDINGS`
--

DROP TABLE IF EXISTS `BIDDINGS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `BIDDINGS` (
  `bidding_id` int NOT NULL AUTO_INCREMENT,
  `bid_amount` decimal(10,2) NOT NULL,
  `bid_time` datetime NOT NULL,
  `auction_id` int NOT NULL,
  `buyer_id` int NOT NULL,
  `is_deleted` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`bidding_id`),
  KEY `FK_BIDDINGS_AUCTION` (`auction_id`),
  KEY `FK_BIDDINGS_BUYER` (`buyer_id`),
  CONSTRAINT `FK_BIDDINGS_AUCTION` FOREIGN KEY (`auction_id`) REFERENCES `AUCTIONS` (`auction_id`) ON DELETE CASCADE,
  CONSTRAINT `FK_BIDDINGS_BUYER` FOREIGN KEY (`buyer_id`) REFERENCES `BUYER` (`buyer_id`)
) ENGINE=InnoDB AUTO_INCREMENT=888 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`leila`@`localhost`*/ /*!50003 TRIGGER `before_bid_validate_amount` BEFORE INSERT ON `BIDDINGS` FOR EACH ROW BEGIN
    DECLARE v_highest DECIMAL(10,2);
    DECLARE v_incr    DECIMAL(10,2);
    DECLARE v_status  VARCHAR(20);
    DECLARE v_end     DATETIME;
    DECLARE v_last_bidder INT;

    SELECT current_highest_bid, min_increment, status, end_time
      INTO v_highest, v_incr, v_status, v_end
      FROM AUCTIONS WHERE auction_id = NEW.auction_id;

    IF v_status <> 'Active' OR NOW() >= v_end THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'This auction has already closed.';
    END IF;

    IF NEW.bid_amount < (v_highest + v_incr) THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Bid does not meet the minimum increment requirement.';
    END IF;

    /* Blocks a bidder from re-bidding against themselves while already
       leading - not proxy/auto-bidding, so raising your own price with
       no one else in between serves no purpose. Must be outbid by
       someone else first. v_last_bidder is whoever placed the most
       recent non-deleted bid (the current leader), not just "has this
       buyer bid here before" - that would wrongly block a legitimate
       re-bid after being outbid. NULL on the first bid, which never
       matches NEW.buyer_id, so the first bid is always allowed. */
    SELECT buyer_id INTO v_last_bidder
      FROM BIDDINGS WHERE auction_id = NEW.auction_id AND is_deleted = 0
      ORDER BY bid_time DESC, bidding_id DESC LIMIT 1;

    IF v_last_bidder = NEW.buyer_id THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'You are already the highest bidder on this auction.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`leila`@`localhost`*/ /*!50003 TRIGGER `after_bid_update_auction` AFTER INSERT ON `BIDDINGS` FOR EACH ROW BEGIN
    IF NEW.is_deleted = FALSE THEN
        UPDATE AUCTIONS
           SET current_highest_bid = NEW.bid_amount
         WHERE auction_id = NEW.auction_id
           AND NEW.bid_amount > current_highest_bid;

        UPDATE AUCTIONS
           SET end_time = DATE_ADD(end_time, INTERVAL 2 MINUTE),
               extension_count = extension_count + 1
         WHERE auction_id = NEW.auction_id
           AND status = 'Active'
           AND extension_count < 10
           AND TIMESTAMPDIFF(SECOND, NEW.bid_time, end_time) <= 120;
    END IF;

    -- Log the interaction for the diagnostic/behavior reports
    INSERT INTO BROWSING_HISTORY (buyer_id, listing_id, interaction_type)
    SELECT NEW.buyer_id, a.listing_id, 'Bid'
      FROM AUCTIONS a WHERE a.auction_id = NEW.auction_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `BRANDS`
--

DROP TABLE IF EXISTS `BRANDS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `BRANDS` (
  `brand_id` int NOT NULL AUTO_INCREMENT,
  `brand_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`brand_id`),
  UNIQUE KEY `brand_name` (`brand_name`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `BROWSING_HISTORY`
--

DROP TABLE IF EXISTS `BROWSING_HISTORY`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `BROWSING_HISTORY` (
  `history_id` int NOT NULL AUTO_INCREMENT,
  `buyer_id` int NOT NULL,
  `listing_id` int NOT NULL,
  `interaction_type` enum('Viewed','Added_To_Cart','Bid','Outbid','Won','Lost') COLLATE utf8mb4_unicode_ci NOT NULL,
  `viewed_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`history_id`),
  KEY `FK_HISTORY_BUYER` (`buyer_id`),
  KEY `FK_HISTORY_LISTING` (`listing_id`),
  CONSTRAINT `FK_HISTORY_BUYER` FOREIGN KEY (`buyer_id`) REFERENCES `BUYER` (`buyer_id`) ON DELETE CASCADE,
  CONSTRAINT `FK_HISTORY_LISTING` FOREIGN KEY (`listing_id`) REFERENCES `LISTINGS` (`listing_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=888 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `BUYER`
--

DROP TABLE IF EXISTS `BUYER`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `BUYER` (
  `buyer_id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `first_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cellphone_number` varchar(11) COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone_verified_at` datetime DEFAULT NULL,
  `is_verified` tinyint(1) DEFAULT '0',
  `buyer_status` enum('Active','Suspended','Banned') COLLATE utf8mb4_unicode_ci DEFAULT 'Active',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `deactivated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`buyer_id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `UQ_BUYER_PHONE` (`cellphone_number`),
  CONSTRAINT `CHK_BUYER_PHONE_FORMAT` CHECK (regexp_like(`cellphone_number`,_utf8mb4'^09[0-9]{9}$'))
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `CART_ITEMS`
--

DROP TABLE IF EXISTS `CART_ITEMS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `CART_ITEMS` (
  `cart_item_id` int NOT NULL AUTO_INCREMENT,
  `buyer_id` int NOT NULL,
  `listing_id` int NOT NULL,
  `quantity` int DEFAULT '1',
  `added_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`cart_item_id`),
  UNIQUE KEY `UQ_CART_ITEM` (`buyer_id`,`listing_id`),
  KEY `FK_CART_LISTING` (`listing_id`),
  CONSTRAINT `FK_CART_BUYER` FOREIGN KEY (`buyer_id`) REFERENCES `BUYER` (`buyer_id`) ON DELETE CASCADE,
  CONSTRAINT `FK_CART_LISTING` FOREIGN KEY (`listing_id`) REFERENCES `LISTINGS` (`listing_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `CATEGORIES`
--

DROP TABLE IF EXISTS `CATEGORIES`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `CATEGORIES` (
  `category_id` int NOT NULL AUTO_INCREMENT,
  `name` enum('Blouse','Sleeveless','Long sleeve','Shirt','Shorts','Skirts','Pants','Dress','Co-ords','Athleisure','Heels','Sneakers','Running shoes','Boots','Flats','Sandals','Bags & Purses','Accessories','Earrings','Rings','Necklace','Bracelet','Aesthetic Bundles') COLLATE utf8mb4_unicode_ci NOT NULL,
  `parent_category_id` int NOT NULL,
  PRIMARY KEY (`category_id`),
  KEY `FK_CATEGORIES_PARENT` (`parent_category_id`),
  CONSTRAINT `FK_CATEGORIES_PARENT` FOREIGN KEY (`parent_category_id`) REFERENCES `PARENT_CATEGORIES` (`parent_category_id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `CATEGORY_SIZES`
--

DROP TABLE IF EXISTS `CATEGORY_SIZES`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `CATEGORY_SIZES` (
  `size_id` int NOT NULL AUTO_INCREMENT,
  `category_id` int NOT NULL,
  `size_value` enum('XXS','XS','S','M','L','XL','XXL','XXXL','22','23','24','25','26','27','28','29','30','31','32','33','34','34+','35','36','38','40','42','35.5','36.5','37','37.5','38.5','39','39.5','40.5','41','41.5','42.5','43','43.5','44','45','Mini','Small','Medium','Large','One Size','5','6','7','8','9','10','11','12') COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`size_id`),
  KEY `FK_SIZE_CATEGORY` (`category_id`),
  CONSTRAINT `FK_SIZE_CATEGORY` FOREIGN KEY (`category_id`) REFERENCES `CATEGORIES` (`category_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=133 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `COURIERS`
--

DROP TABLE IF EXISTS `COURIERS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `COURIERS` (
  `courier_id` int NOT NULL AUTO_INCREMENT,
  `courier_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contact_no` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`courier_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `CURRENCY_RATES`
--

DROP TABLE IF EXISTS `CURRENCY_RATES`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `CURRENCY_RATES` (
  `rate_id` int NOT NULL AUTO_INCREMENT,
  `base_currency` enum('PHP','USD','KRW') COLLATE utf8mb4_unicode_ci NOT NULL,
  `target_currency` enum('PHP','USD','KRW') COLLATE utf8mb4_unicode_ci NOT NULL,
  `exchange_rate` decimal(10,4) NOT NULL,
  `recorded_date` date NOT NULL,
  PRIMARY KEY (`rate_id`),
  UNIQUE KEY `UQ_CURRENCY_RATES` (`base_currency`,`target_currency`,`recorded_date`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `DISPUTES`
--

DROP TABLE IF EXISTS `DISPUTES`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DISPUTES` (
  `dispute_id` int NOT NULL AUTO_INCREMENT,
  `order_id` int NOT NULL,
  `buyer_id` int NOT NULL,
  `seller_id` int NOT NULL,
  `assigned_admin_id` int DEFAULT NULL,
  `reason` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('Open','Under Review','Resolved','Rejected') COLLATE utf8mb4_unicode_ci DEFAULT 'Open',
  `resolution_type` enum('Full Refund','Partial Refund') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `opened_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `resolved_at` datetime DEFAULT NULL,
  PRIMARY KEY (`dispute_id`),
  KEY `FK_DISPUTES_ORDER` (`order_id`),
  KEY `FK_DISPUTES_BUYER` (`buyer_id`),
  KEY `FK_DISPUTES_SELLER` (`seller_id`),
  CONSTRAINT `FK_DISPUTES_BUYER` FOREIGN KEY (`buyer_id`) REFERENCES `BUYER` (`buyer_id`),
  CONSTRAINT `FK_DISPUTES_ORDER` FOREIGN KEY (`order_id`) REFERENCES `ORDERS` (`order_id`),
  CONSTRAINT `FK_DISPUTES_SELLER` FOREIGN KEY (`seller_id`) REFERENCES `SELLER` (`seller_id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`leila`@`localhost`*/ /*!50003 TRIGGER `after_dispute_resolved_check_pattern` AFTER UPDATE ON `DISPUTES` FOR EACH ROW BEGIN
    DECLARE v_valid_count INT;

    IF NEW.status = 'Resolved' AND OLD.status <> 'Resolved'
       AND NEW.reason LIKE '%misrepresent%' THEN

        SELECT COUNT(*) INTO v_valid_count
          FROM DISPUTES
         WHERE seller_id = NEW.seller_id
           AND status = 'Resolved'
           AND reason LIKE '%misrepresent%';

        IF v_valid_count >= 3 THEN
            INSERT INTO PENALTIES (seller_id, reason, penalty_type)
            VALUES (NEW.seller_id, 'Repeated item misrepresentation (3+ resolved disputes)', 'Selling Suspension');
        END IF;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `EMAIL_OTPS`
--

DROP TABLE IF EXISTS `EMAIL_OTPS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `EMAIL_OTPS` (
  `otp_id` int NOT NULL AUTO_INCREMENT,
  `owner_type` enum('Buyer','Seller') COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner_id` int NOT NULL,
  `purpose` enum('Registration','Payment') COLLATE utf8mb4_unicode_ci NOT NULL,
  `related_order_id` int DEFAULT NULL,
  `otp_code` char(6) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expires_at` datetime NOT NULL,
  `is_used` tinyint(1) DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`otp_id`),
  KEY `IDX_OTP_LOOKUP` (`owner_type`,`owner_id`,`purpose`,`is_used`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `EMAIL_QUEUE`
--

DROP TABLE IF EXISTS `EMAIL_QUEUE`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `EMAIL_QUEUE` (
  `queue_id` int NOT NULL AUTO_INCREMENT,
  `recipient_type` enum('Buyer','Seller') COLLATE utf8mb4_unicode_ci NOT NULL,
  `recipient_id` int NOT NULL,
  `subject` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `body` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `template` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `related_order_id` int DEFAULT NULL,
  `is_sent` tinyint(1) DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `sent_at` datetime DEFAULT NULL,
  PRIMARY KEY (`queue_id`),
  KEY `IDX_EMAIL_QUEUE_PENDING` (`is_sent`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=132 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `FRAUD_FLAGS`
--

DROP TABLE IF EXISTS `FRAUD_FLAGS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `FRAUD_FLAGS` (
  `fraud_flag_id` int NOT NULL AUTO_INCREMENT,
  `auction_id` int DEFAULT NULL,
  `listing_id` int DEFAULT NULL,
  `buyer_id` int DEFAULT NULL,
  `seller_id` int DEFAULT NULL,
  `signals_detected` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('Pending','Reviewed','Resolved') COLLATE utf8mb4_unicode_ci DEFAULT 'Pending',
  `reviewed_by_admin_id` int DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`fraud_flag_id`),
  KEY `FK_FRAUD_AUCTION` (`auction_id`),
  KEY `FK_FRAUD_LISTING` (`listing_id`),
  KEY `FK_FRAUD_BUYER` (`buyer_id`),
  KEY `FK_FRAUD_SELLER` (`seller_id`),
  CONSTRAINT `FK_FRAUD_AUCTION` FOREIGN KEY (`auction_id`) REFERENCES `AUCTIONS` (`auction_id`),
  CONSTRAINT `FK_FRAUD_BUYER` FOREIGN KEY (`buyer_id`) REFERENCES `BUYER` (`buyer_id`),
  CONSTRAINT `FK_FRAUD_LISTING` FOREIGN KEY (`listing_id`) REFERENCES `LISTINGS` (`listing_id`),
  CONSTRAINT `FK_FRAUD_SELLER` FOREIGN KEY (`seller_id`) REFERENCES `SELLER` (`seller_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `LISTINGS`
--

DROP TABLE IF EXISTS `LISTINGS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `LISTINGS` (
  `listing_id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `price` decimal(10,2) NOT NULL,
  `original_price` decimal(10,2) DEFAULT NULL,
  `condition_grade` enum('Brand New','Like New','Lightly Used','Well Used','Heavily Used') COLLATE utf8mb4_unicode_ci NOT NULL,
  `color` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `material` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `target_gender` enum('Men','Women','Unisex','Kids') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `made_in` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `category_id` int NOT NULL,
  `seller_id` int NOT NULL,
  `product_line_id` int NOT NULL,
  `size_id` int NOT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`listing_id`),
  KEY `FK_LISTINGS_CATEGORY` (`category_id`),
  KEY `FK_LISTINGS_SELLER` (`seller_id`),
  KEY `FK_LISTINGS_PROD_LINE` (`product_line_id`),
  KEY `FK_LISTINGS_SIZE` (`size_id`),
  CONSTRAINT `FK_LISTINGS_CATEGORY` FOREIGN KEY (`category_id`) REFERENCES `CATEGORIES` (`category_id`),
  CONSTRAINT `FK_LISTINGS_PROD_LINE` FOREIGN KEY (`product_line_id`) REFERENCES `PRODUCT_LINES` (`product_line_id`),
  CONSTRAINT `FK_LISTINGS_SELLER` FOREIGN KEY (`seller_id`) REFERENCES `SELLER` (`seller_id`),
  CONSTRAINT `FK_LISTINGS_SIZE` FOREIGN KEY (`size_id`) REFERENCES `CATEGORY_SIZES` (`size_id`)
) ENGINE=InnoDB AUTO_INCREMENT=318 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`leila`@`localhost`*/ /*!50003 TRIGGER `after_listing_insert_seed_analytics` AFTER INSERT ON `LISTINGS` FOR EACH ROW BEGIN
    INSERT INTO LISTING_ANALYTICS (listing_id, view_count, follower_count, completeness_score)
    VALUES (NEW.listing_id, 0, 0,
            -- baseline completeness: title/category/condition/size/product_line already required at insert time
            60.00);
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`leila`@`localhost`*/ /*!50003 TRIGGER `before_listing_delete_enforce_rules` BEFORE UPDATE ON `LISTINGS` FOR EACH ROW BEGIN
    DECLARE v_active_auctions INT;
    DECLARE v_bid_count INT;
    DECLARE v_end_time DATETIME;
    DECLARE v_existing_orders INT;

    IF OLD.deleted_at IS NULL AND NEW.deleted_at IS NOT NULL THEN

        SELECT COUNT(*) INTO v_existing_orders FROM ORDERS WHERE listing_id = OLD.listing_id;
        IF v_existing_orders > 0 THEN
            SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Cannot delete a listing that has already been purchased.';
        END IF;

        SELECT COUNT(*), MIN(end_time) INTO v_active_auctions, v_end_time
        FROM AUCTIONS WHERE listing_id = OLD.listing_id AND status = 'Active' AND deleted_at IS NULL;

        IF v_active_auctions > 0 THEN

            -- Tier 3: within 12 hours of ending ΓÇö fully locked, no override possible.
            IF TIMESTAMPDIFF(HOUR, NOW(), v_end_time) < 12 THEN
                SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'This auction ends within 12 hours and can no longer be cancelled.';
            END IF;

            SELECT COUNT(*) INTO v_bid_count
            FROM BIDDINGS b JOIN AUCTIONS a ON b.auction_id = a.auction_id
            WHERE a.listing_id = OLD.listing_id AND a.status = 'Active' AND b.is_deleted = 0;

            IF v_bid_count > 0 THEN
                -- Tier 2: has bids -> only allowed through sp_seller_delete_listing.
                IF @tb_deletion_reason IS NULL OR @tb_deletion_reason = '' THEN
                    SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'This auction has active bids. A valid reason is required to cancel it.';
                END IF;
            END IF;
            -- Tier 1 (no bids, >12h left): falls through, no restriction.
        END IF;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`leila`@`localhost`*/ /*!50003 TRIGGER `after_listing_soft_delete_archive` AFTER UPDATE ON `LISTINGS` FOR EACH ROW BEGIN
    IF OLD.deleted_at IS NULL AND NEW.deleted_at IS NOT NULL THEN
        INSERT INTO LISTING_ARCHIVE (listing_id, seller_id, title, description, price, original_price,
                                      condition_grade, category_id, product_line_id, size_id)
        VALUES (OLD.listing_id, OLD.seller_id, OLD.title, OLD.description, OLD.price, OLD.original_price,
                OLD.condition_grade, OLD.category_id, OLD.product_line_id, OLD.size_id);
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`kyrstie`@`localhost`*/ /*!50003 TRIGGER `after_listing_delete_notify_and_penalize` AFTER UPDATE ON `LISTINGS` FOR EACH ROW BEGIN
    DECLARE v_auction_id INT;
    DECLARE v_top_buyer_id INT;

    IF OLD.deleted_at IS NULL AND NEW.deleted_at IS NOT NULL AND @tb_deletion_reason IS NOT NULL AND @tb_deletion_reason <> '' THEN
        SELECT a.auction_id INTO v_auction_id FROM AUCTIONS a WHERE a.listing_id = NEW.listing_id AND a.status = 'Active' LIMIT 1;

        IF v_auction_id IS NOT NULL THEN
            SELECT b.buyer_id INTO v_top_buyer_id FROM BIDDINGS b
             WHERE b.auction_id = v_auction_id AND b.is_deleted = 0
             ORDER BY b.bid_amount DESC LIMIT 1;

            UPDATE AUCTIONS SET status = 'Closed', deleted_at = NOW() WHERE auction_id = v_auction_id;

            IF v_top_buyer_id IS NOT NULL THEN
                INSERT INTO NOTIFICATIONS (buyer_id, title, message, notification_type)
                VALUES (v_top_buyer_id, 'Auction Cancelled by Seller',
                        CONCAT('The auction for "', NEW.title, '" was cancelled by the seller. Reason: ', @tb_deletion_reason), 'AUCTION');
            END IF;

            INSERT INTO PENALTIES (seller_id, reason, penalty_type)
            VALUES (NEW.seller_id,
                    CONCAT('Cancelled a listing with active bids. Reason given: ', @tb_deletion_reason),
                    'Selling Suspension');
        END IF;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`kyrstie`@`localhost`*/ /*!50003 TRIGGER `after_listing_price_change_update_pricing_score` AFTER UPDATE ON `LISTINGS` FOR EACH ROW BEGIN
    DECLARE v_min DECIMAL(10,2);
    DECLARE v_max DECIMAL(10,2);
    DECLARE v_score DECIMAL(5,2);

    IF NEW.price <> OLD.price THEN
        SELECT estimated_price_min, estimated_price_max
          INTO v_min, v_max
          FROM PRODUCT_LINES WHERE product_line_id = NEW.product_line_id;

        IF v_min IS NOT NULL AND v_max IS NOT NULL THEN
            IF NEW.price BETWEEN v_min AND v_max THEN
                SET v_score = 100;
            ELSEIF NEW.price > v_max THEN
                SET v_score = GREATEST(0, 100 - ((NEW.price - v_max) / v_max) * 100);
            ELSE
                SET v_score = GREATEST(50, 100 - ((v_min - NEW.price) / v_min) * 50);
            END IF;

            UPDATE LISTING_ANALYTICS
               SET pricing_score = v_score,
                   completeness_score = LEAST(100, (IFNULL(photo_score,60) + IFNULL(details_score,60) + IFNULL(condition_score,60) + IFNULL(shipping_score,60) + v_score) / 5)
             WHERE listing_id = NEW.listing_id;
        END IF;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `LISTING_ANALYTICS`
--

DROP TABLE IF EXISTS `LISTING_ANALYTICS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `LISTING_ANALYTICS` (
  `analytics_id` int NOT NULL AUTO_INCREMENT,
  `listing_id` int NOT NULL,
  `view_count` int DEFAULT '0',
  `follower_count` int DEFAULT '0',
  `completeness_score` decimal(5,2) DEFAULT NULL,
  `photo_score` decimal(5,2) DEFAULT NULL,
  `details_score` decimal(5,2) DEFAULT NULL,
  `condition_score` decimal(5,2) DEFAULT NULL,
  `shipping_score` decimal(5,2) DEFAULT NULL,
  `pricing_score` decimal(5,2) DEFAULT NULL,
  `view_to_bid_score` decimal(5,2) DEFAULT NULL,
  `last_updated` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`analytics_id`),
  KEY `FK_ANALYTICS_LISTING` (`listing_id`),
  CONSTRAINT `FK_ANALYTICS_LISTING` FOREIGN KEY (`listing_id`) REFERENCES `LISTINGS` (`listing_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=318 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `LISTING_ARCHIVE`
--

DROP TABLE IF EXISTS `LISTING_ARCHIVE`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `LISTING_ARCHIVE` (
  `archive_id` int NOT NULL AUTO_INCREMENT,
  `listing_id` int NOT NULL,
  `seller_id` int NOT NULL,
  `title` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `price` decimal(10,2) NOT NULL,
  `original_price` decimal(10,2) DEFAULT NULL,
  `condition_grade` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `category_id` int NOT NULL,
  `product_line_id` int NOT NULL,
  `size_id` int NOT NULL,
  `archived_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`archive_id`),
  KEY `FK_LISTING_ARCHIVE_LISTING` (`listing_id`),
  KEY `FK_LISTING_ARCHIVE_SELLER` (`seller_id`),
  CONSTRAINT `FK_LISTING_ARCHIVE_LISTING` FOREIGN KEY (`listing_id`) REFERENCES `LISTINGS` (`listing_id`) ON DELETE CASCADE,
  CONSTRAINT `FK_LISTING_ARCHIVE_SELLER` FOREIGN KEY (`seller_id`) REFERENCES `SELLER` (`seller_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `LISTING_IMAGES`
--

DROP TABLE IF EXISTS `LISTING_IMAGES`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `LISTING_IMAGES` (
  `image_id` int NOT NULL AUTO_INCREMENT,
  `listing_id` int NOT NULL,
  `image_url` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_primary` tinyint(1) DEFAULT '0',
  `uploaded_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`image_id`),
  KEY `FK_IMAGES_LISTING` (`listing_id`),
  CONSTRAINT `FK_IMAGES_LISTING` FOREIGN KEY (`listing_id`) REFERENCES `LISTINGS` (`listing_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=954 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`leila`@`localhost`*/ /*!50003 TRIGGER `after_listing_image_insert_update_score` AFTER INSERT ON `LISTING_IMAGES` FOR EACH ROW BEGIN
    DECLARE v_count INT;
    DECLARE v_score DECIMAL(5,2);

    SELECT COUNT(*) INTO v_count FROM LISTING_IMAGES WHERE listing_id = NEW.listing_id;
    SET v_score = LEAST(100, v_count * 33.33);

    UPDATE LISTING_ANALYTICS
       SET photo_score = v_score,
           completeness_score = LEAST(100, (IFNULL(photo_score,0) + IFNULL(details_score,60) + IFNULL(condition_score,60) + IFNULL(shipping_score,60) + IFNULL(pricing_score,60)) / 5)
     WHERE listing_id = NEW.listing_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `NOTIFICATIONS`
--

DROP TABLE IF EXISTS `NOTIFICATIONS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `NOTIFICATIONS` (
  `notification_id` int NOT NULL AUTO_INCREMENT,
  `buyer_id` int DEFAULT NULL,
  `seller_id` int DEFAULT NULL,
  `title` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `message` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `notification_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_read` tinyint(1) DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`notification_id`),
  KEY `FK_NOTIFICATIONS_BUYER` (`buyer_id`),
  KEY `FK_NOTIFICATIONS_SELLER` (`seller_id`),
  CONSTRAINT `FK_NOTIFICATIONS_BUYER` FOREIGN KEY (`buyer_id`) REFERENCES `BUYER` (`buyer_id`),
  CONSTRAINT `FK_NOTIFICATIONS_SELLER` FOREIGN KEY (`seller_id`) REFERENCES `SELLER` (`seller_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1023 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ORDERS`
--

DROP TABLE IF EXISTS `ORDERS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ORDERS` (
  `order_id` int NOT NULL AUTO_INCREMENT,
  `order_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `status` enum('Preparing','Shipped','Out for Delivery','Delivered','Cancelled') COLLATE utf8mb4_unicode_ci DEFAULT 'Preparing',
  `listing_id` int NOT NULL,
  `buyer_id` int NOT NULL,
  `seller_id` int NOT NULL,
  `shipping_street` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `shipping_city` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `shipping_province` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `shipping_zip` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`order_id`),
  KEY `FK_ORDERS_LISTING` (`listing_id`),
  KEY `FK_ORDERS_BUYER` (`buyer_id`),
  KEY `FK_ORDERS_SELLER` (`seller_id`),
  CONSTRAINT `FK_ORDERS_BUYER` FOREIGN KEY (`buyer_id`) REFERENCES `BUYER` (`buyer_id`),
  CONSTRAINT `FK_ORDERS_LISTING` FOREIGN KEY (`listing_id`) REFERENCES `LISTINGS` (`listing_id`),
  CONSTRAINT `FK_ORDERS_SELLER` FOREIGN KEY (`seller_id`) REFERENCES `SELLER` (`seller_id`)
) ENGINE=InnoDB AUTO_INCREMENT=223 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`leila`@`localhost`*/ /*!50003 TRIGGER `after_order_insert_deactivate_listing` AFTER INSERT ON `ORDERS` FOR EACH ROW BEGIN
    DECLARE v_title VARCHAR(200);
    DECLARE v_buyer_name VARCHAR(100);

    UPDATE LISTINGS SET is_active = FALSE WHERE listing_id = NEW.listing_id;

    INSERT INTO NOTIFICATIONS (seller_id, title, message, notification_type)
    VALUES (
        NEW.seller_id,
        'New Order Received!',
        CONCAT('Order #', NEW.order_id, ' has been placed. Ship within 48 hours.'),
        'ORDER'
    );

    -- Communication: queue the seller's "item ordered" email (see
    -- EMAIL_QUEUE above). Fires here so it covers every path that can
    -- create an ORDERS row (cart checkout, Buy Now, auction win),
    -- not just the ones checkout.php happens to touch.
    SELECT title INTO v_title FROM LISTINGS WHERE listing_id = NEW.listing_id;
    SELECT COALESCE(first_name, username) INTO v_buyer_name FROM BUYER WHERE buyer_id = NEW.buyer_id;

    INSERT INTO EMAIL_QUEUE (recipient_type, recipient_id, subject, body)
    VALUES (
        'Seller', NEW.seller_id, 'You have a new order on ThriftBid!',
        CONCAT(
            '<p>Your listing "<strong>', v_title, '</strong>" was just ordered by <strong>', v_buyer_name, '</strong> (Order #', NEW.order_id, ').</p>',
            '<p>Please prepare to ship within 48 hours once payment is confirmed.</p>'
        )
    );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`leila`@`localhost`*/ /*!50003 TRIGGER `after_order_status_change_notify_buyer` AFTER UPDATE ON `ORDERS` FOR EACH ROW BEGIN
    IF NEW.status <> OLD.status THEN
        INSERT INTO NOTIFICATIONS (buyer_id, title, message, notification_type)
        VALUES (
            NEW.buyer_id,
            CONCAT('Order Update: ', NEW.status),
            CONCAT('Order #', NEW.order_id, ' is now "', NEW.status, '".'),
            'ORDER'
        );
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `PARENT_CATEGORIES`
--

DROP TABLE IF EXISTS `PARENT_CATEGORIES`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `PARENT_CATEGORIES` (
  `parent_category_id` int NOT NULL AUTO_INCREMENT,
  `parent_category` enum('Tops','Bottoms','Dresses & Co_ords','Footwear','Bags & Purses','Accessories','Others') COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`parent_category_id`),
  UNIQUE KEY `parent_category` (`parent_category`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `PAYMENTS`
--

DROP TABLE IF EXISTS `PAYMENTS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `PAYMENTS` (
  `payment_id` int NOT NULL AUTO_INCREMENT,
  `payment_method` enum('GCash','Bank') COLLATE utf8mb4_unicode_ci NOT NULL,
  `amount_paid` decimal(10,2) NOT NULL,
  `currency` enum('PHP','USD','KRW') COLLATE utf8mb4_unicode_ci DEFAULT 'PHP',
  `payment_status` enum('Pending','Completed','Failed','Refunded') COLLATE utf8mb4_unicode_ci DEFAULT 'Pending',
  `gateway_reference_token` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payment_date` datetime DEFAULT CURRENT_TIMESTAMP,
  `order_id` int NOT NULL,
  PRIMARY KEY (`payment_id`),
  KEY `FK_PAYMENTS_ORDER` (`order_id`),
  CONSTRAINT `FK_PAYMENTS_ORDER` FOREIGN KEY (`order_id`) REFERENCES `ORDERS` (`order_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=151 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`leila`@`localhost`*/ /*!50003 TRIGGER `after_payment_insert_create_transaction` AFTER INSERT ON `PAYMENTS` FOR EACH ROW BEGIN
    DECLARE v_buyer_id INT;
    DECLARE v_seller_id INT;

    IF NEW.payment_status = 'Completed' THEN
        INSERT INTO TRANSACTIONS (amount, order_id, payment_id)
        VALUES (NEW.amount_paid, NEW.order_id, NEW.payment_id);

        SELECT o.buyer_id, o.seller_id INTO v_buyer_id, v_seller_id FROM ORDERS o WHERE o.order_id = NEW.order_id;

        -- Snapshot the buyer's current default address onto the order.
        -- checkout.php requires an address to exist before payment can
        -- start, so this is expected to find one; if somehow none exists
        -- the columns just stay NULL rather than blocking the payment.
        UPDATE ORDERS o
        JOIN ADDRESSES a ON a.user_id = o.buyer_id AND a.user_type = 'Buyer' AND a.is_default = 1
        SET o.shipping_street = a.street_address,
            o.shipping_city = a.city,
            o.shipping_province = a.province,
            o.shipping_zip = a.zip_code
        WHERE o.order_id = NEW.order_id;

        INSERT INTO NOTIFICATIONS (buyer_id, title, message, notification_type)
        VALUES (v_buyer_id, 'Payment Confirmed', CONCAT('Your payment for Order #', NEW.order_id, ' was received.'), 'PAYMENT');

        -- Communication: detailed payment-confirmation email, both sides.
        INSERT INTO EMAIL_QUEUE (recipient_type, recipient_id, subject, body, template, related_order_id)
        VALUES ('Buyer', v_buyer_id, 'Payment Confirmed', '(generated from template)', 'payment_confirmed_buyer', NEW.order_id);

        INSERT INTO EMAIL_QUEUE (recipient_type, recipient_id, subject, body, template, related_order_id)
        VALUES ('Seller', v_seller_id, 'Payment Received', '(generated from template)', 'payment_confirmed_seller', NEW.order_id);
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`leila`@`localhost`*/ /*!50003 TRIGGER `after_payment_update_create_transaction` AFTER UPDATE ON `PAYMENTS` FOR EACH ROW BEGIN
    IF NEW.payment_status = 'Completed' AND OLD.payment_status <> 'Completed' THEN
        INSERT INTO TRANSACTIONS (amount, order_id, payment_id)
        VALUES (NEW.amount_paid, NEW.order_id, NEW.payment_id);
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `PENALTIES`
--

DROP TABLE IF EXISTS `PENALTIES`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `PENALTIES` (
  `penalty_id` int NOT NULL AUTO_INCREMENT,
  `buyer_id` int DEFAULT NULL,
  `seller_id` int DEFAULT NULL,
  `reason` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `penalty_type` enum('Bidding Suspension','Selling Suspension','Wallet Freeze','Account Ban') COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('Active','Served','Expired') COLLATE utf8mb4_unicode_ci DEFAULT 'Active',
  `issued_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `period_end` datetime DEFAULT NULL,
  PRIMARY KEY (`penalty_id`),
  KEY `FK_PENALTIES_BUYER` (`buyer_id`),
  KEY `FK_PENALTIES_SELLER` (`seller_id`),
  CONSTRAINT `FK_PENALTIES_BUYER` FOREIGN KEY (`buyer_id`) REFERENCES `BUYER` (`buyer_id`),
  CONSTRAINT `FK_PENALTIES_SELLER` FOREIGN KEY (`seller_id`) REFERENCES `SELLER` (`seller_id`)
) ENGINE=InnoDB AUTO_INCREMENT=177 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`leila`@`localhost`*/ /*!50003 TRIGGER `after_penalty_insert_escalate` AFTER INSERT ON `PENALTIES` FOR EACH ROW BEGIN
    DECLARE v_count INT;
    DECLARE v_tag VARCHAR(60);
    DECLARE v_order_id INT DEFAULT NULL;
    DECLARE v_buyer_id INT;
    DECLARE v_seller_id INT;
    DECLARE v_payment_id INT;

    IF NEW.seller_id IS NOT NULL THEN
        UPDATE SELLER SET offense_count = offense_count + 1 WHERE seller_id = NEW.seller_id;
        SELECT offense_count INTO v_count FROM SELLER WHERE seller_id = NEW.seller_id;

        IF v_count = 1 THEN
            -- Rule 6, 1st offense: flagged + visible badge downgrade
            -- (previously did nothing visible at all).
            UPDATE SELLER SET seller_status = 'Flagged' WHERE seller_id = NEW.seller_id AND seller_status = 'Active';

        ELSEIF v_count = 2 THEN
            UPDATE SELLER
               SET seller_status = 'Suspended',
                   wallet_frozen_until = DATE_ADD(NOW(), INTERVAL 30 DAY)
             WHERE seller_id = NEW.seller_id;

        ELSEIF v_count >= 3 THEN
            UPDATE SELLER SET seller_status = 'Banned' WHERE seller_id = NEW.seller_id;

            -- Rule 6, 3rd offense: automatic full refund on the order that
            -- triggered this penalty (extracted from the flag_late_shipments
            -- event's "[LATE-SHIP-ORDER-#id]" tag). Runs inside this same
            -- trigger execution, i.e. effectively instant ΓÇö comfortably
            -- inside the "within 24 hours" the spec calls for.
            IF NEW.reason LIKE '%LATE-SHIP-ORDER-#%' THEN
                SET v_tag = REGEXP_SUBSTR(NEW.reason, 'ORDER-#[0-9]+');
                IF v_tag IS NOT NULL THEN
                    SET v_order_id = CAST(SUBSTRING(v_tag, 8) AS UNSIGNED); -- 'ORDER-#' is 7 chars
                END IF;
            END IF;

            IF v_order_id IS NOT NULL THEN
                SELECT o.buyer_id, o.seller_id INTO v_buyer_id, v_seller_id FROM ORDERS o WHERE o.order_id = v_order_id;
                SELECT p.payment_id INTO v_payment_id FROM PAYMENTS p WHERE p.order_id = v_order_id AND p.payment_status = 'Completed' LIMIT 1;

                IF v_payment_id IS NOT NULL AND v_buyer_id IS NOT NULL THEN
                    UPDATE PAYMENTS SET payment_status = 'Refunded' WHERE payment_id = v_payment_id;

                    INSERT INTO DISPUTES (order_id, buyer_id, seller_id, reason, status, resolution_type, opened_at, resolved_at)
                    VALUES (v_order_id, v_buyer_id, v_seller_id,
                            'Automatic full refund: seller banned after 3rd shipping-time violation', 'Resolved', 'Full Refund', NOW(), NOW());

                    UPDATE ORDERS SET status = 'Cancelled' WHERE order_id = v_order_id;

                    INSERT INTO NOTIFICATIONS (buyer_id, title, message, notification_type)
                    VALUES (v_buyer_id, 'Automatic Full Refund Issued',
                            CONCAT('Order #', v_order_id, ' was automatically refunded in full because the seller repeatedly failed to ship on time.'), 'ORDER');
                END IF;
            END IF;
        END IF;

        INSERT INTO NOTIFICATIONS (seller_id, title, message, notification_type)
        VALUES (NEW.seller_id, 'Penalty Issued', CONCAT('Reason: ', NEW.reason), 'SYSTEM');
    ELSEIF NEW.buyer_id IS NOT NULL THEN
        -- Rule 7 (Non-Paying Buyer) penalties land here too.
        INSERT INTO NOTIFICATIONS (buyer_id, title, message, notification_type)
        VALUES (NEW.buyer_id, 'Penalty Issued', CONCAT('Reason: ', NEW.reason), 'SYSTEM');
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `PRODUCT_LINES`
--

DROP TABLE IF EXISTS `PRODUCT_LINES`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `PRODUCT_LINES` (
  `product_line_id` int NOT NULL AUTO_INCREMENT,
  `brand_id` int NOT NULL,
  `line_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tier` enum('High','Mid','Low','Unbranded') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Low',
  `estimated_price_min` decimal(10,2) DEFAULT NULL,
  `estimated_price_max` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`product_line_id`),
  KEY `FK_PL_BRAND` (`brand_id`),
  CONSTRAINT `FK_PL_BRAND` FOREIGN KEY (`brand_id`) REFERENCES `BRANDS` (`brand_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `REVIEWS`
--

DROP TABLE IF EXISTS `REVIEWS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `REVIEWS` (
  `review_id` int NOT NULL AUTO_INCREMENT,
  `buyer_id` int NOT NULL,
  `seller_id` int NOT NULL,
  `order_id` int NOT NULL,
  `rating` int NOT NULL,
  `review_text` text COLLATE utf8mb4_unicode_ci,
  `review_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`review_id`),
  KEY `FK_REVIEWS_BUYER` (`buyer_id`),
  KEY `FK_REVIEWS_SELLER` (`seller_id`),
  KEY `FK_REVIEWS_ORDER` (`order_id`),
  CONSTRAINT `FK_REVIEWS_BUYER` FOREIGN KEY (`buyer_id`) REFERENCES `BUYER` (`buyer_id`),
  CONSTRAINT `FK_REVIEWS_ORDER` FOREIGN KEY (`order_id`) REFERENCES `ORDERS` (`order_id`),
  CONSTRAINT `FK_REVIEWS_SELLER` FOREIGN KEY (`seller_id`) REFERENCES `SELLER` (`seller_id`),
  CONSTRAINT `REVIEWS_chk_1` CHECK ((`rating` between 1 and 5))
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`leila`@`localhost`*/ /*!50003 TRIGGER `before_review_prevent_duplicate` BEFORE INSERT ON `REVIEWS` FOR EACH ROW BEGIN
    DECLARE v_existing INT;
    SELECT COUNT(*) INTO v_existing FROM REVIEWS WHERE order_id = NEW.order_id AND deleted_at IS NULL;
    IF v_existing > 0 THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'This order has already been reviewed.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `SELLER`
--

DROP TABLE IF EXISTS `SELLER`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `SELLER` (
  `seller_id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(48) COLLATE utf8mb4_unicode_ci NOT NULL,
  `shop_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cellphone_number` varchar(11) COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone_verified_at` datetime DEFAULT NULL,
  `is_verified` tinyint(1) DEFAULT '0',
  `ig_follower_count` int DEFAULT '0',
  `seller_status` enum('Active','Flagged','Suspended','Banned') COLLATE utf8mb4_unicode_ci DEFAULT 'Active',
  `offense_count` int DEFAULT '0',
  `wallet_frozen_until` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `deactivated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`seller_id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `UQ_SELLER_PHONE` (`cellphone_number`),
  CONSTRAINT `CHK_SELLER_PHONE_FORMAT` CHECK (regexp_like(`cellphone_number`,_utf8mb4'^09[0-9]{9}$'))
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `SELLER_AWARDS`
--

DROP TABLE IF EXISTS `SELLER_AWARDS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `SELLER_AWARDS` (
  `award_id` int NOT NULL AUTO_INCREMENT,
  `seller_id` int NOT NULL,
  `reason` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `award_type` enum('Top Seller Badge','Fee Discount') COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('Active','Expired') COLLATE utf8mb4_unicode_ci DEFAULT 'Active',
  `issued_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `period_end` datetime DEFAULT NULL,
  PRIMARY KEY (`award_id`),
  KEY `FK_AWARDS_SELLER` (`seller_id`),
  CONSTRAINT `FK_AWARDS_SELLER` FOREIGN KEY (`seller_id`) REFERENCES `SELLER` (`seller_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`leila`@`localhost`*/ /*!50003 TRIGGER `after_seller_award_notify` AFTER INSERT ON `SELLER_AWARDS` FOR EACH ROW BEGIN
    INSERT INTO NOTIFICATIONS (seller_id, title, message, notification_type)
    VALUES (NEW.seller_id, 'You earned an award!', NEW.reason, 'SYSTEM');
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `SHIPMENTS`
--

DROP TABLE IF EXISTS `SHIPMENTS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `SHIPMENTS` (
  `shipment_id` int NOT NULL AUTO_INCREMENT,
  `order_id` int NOT NULL,
  `courier_id` int NOT NULL,
  `tracking_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `shipping_fee` decimal(10,2) DEFAULT '0.00',
  `estimated_delivery` date DEFAULT NULL,
  `shipped_date` datetime DEFAULT NULL,
  `delivered_date` datetime DEFAULT NULL,
  `status` enum('Preparing','Shipped','Out for Delivery','Delivered','Returned') COLLATE utf8mb4_unicode_ci DEFAULT 'Preparing',
  PRIMARY KEY (`shipment_id`),
  UNIQUE KEY `tracking_number` (`tracking_number`),
  KEY `FK_SHIPMENTS_ORDER` (`order_id`),
  KEY `FK_SHIPMENTS_COURIER` (`courier_id`),
  CONSTRAINT `FK_SHIPMENTS_COURIER` FOREIGN KEY (`courier_id`) REFERENCES `COURIERS` (`courier_id`),
  CONSTRAINT `FK_SHIPMENTS_ORDER` FOREIGN KEY (`order_id`) REFERENCES `ORDERS` (`order_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=135 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`leila`@`localhost`*/ /*!50003 TRIGGER `before_shipment_require_tracking` BEFORE UPDATE ON `SHIPMENTS` FOR EACH ROW BEGIN
    IF NEW.status IN ('Shipped','Out for Delivery','Delivered')
       AND (NEW.tracking_number IS NULL OR NEW.tracking_number = '') THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'A tracking number is required before advancing shipment status.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`leila`@`localhost`*/ /*!50003 TRIGGER `after_shipment_status_change` AFTER UPDATE ON `SHIPMENTS` FOR EACH ROW BEGIN
    IF NEW.status <> OLD.status THEN
        INSERT INTO TRACKING_LOGS (shipment_id, location, status, remarks)
        VALUES (NEW.shipment_id, 'Seller Hub', NEW.status, CONCAT('Status changed to ', NEW.status));

        UPDATE ORDERS SET status = NEW.status WHERE order_id = NEW.order_id;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `TRACKING_LOGS`
--

DROP TABLE IF EXISTS `TRACKING_LOGS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `TRACKING_LOGS` (
  `tracking_id` int NOT NULL AUTO_INCREMENT,
  `shipment_id` int NOT NULL,
  `location` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('Preparing','Shipped','Out for Delivery','Delivered','Returned') COLLATE utf8mb4_unicode_ci NOT NULL,
  `remarks` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`tracking_id`),
  KEY `FK_TRACKING_LOGS_SHIPMENT` (`shipment_id`),
  CONSTRAINT `FK_TRACKING_LOGS_SHIPMENT` FOREIGN KEY (`shipment_id`) REFERENCES `SHIPMENTS` (`shipment_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=322 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `TRANSACTIONS`
--

DROP TABLE IF EXISTS `TRANSACTIONS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `TRANSACTIONS` (
  `transaction_id` int NOT NULL AUTO_INCREMENT,
  `amount` decimal(10,2) NOT NULL,
  `transaction_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `order_id` int NOT NULL,
  `payment_id` int NOT NULL,
  PRIMARY KEY (`transaction_id`),
  KEY `FK_TRANSACTIONS_ORDER` (`order_id`),
  KEY `FK_TRANSACTIONS_PAYMENT` (`payment_id`),
  CONSTRAINT `FK_TRANSACTIONS_ORDER` FOREIGN KEY (`order_id`) REFERENCES `ORDERS` (`order_id`),
  CONSTRAINT `FK_TRANSACTIONS_PAYMENT` FOREIGN KEY (`payment_id`) REFERENCES `PAYMENTS` (`payment_id`)
) ENGINE=InnoDB AUTO_INCREMENT=151 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping events for database 'thriftbid_db2'
--
/*!50106 SET @save_time_zone= @@TIME_ZONE */ ;
/*!50106 DROP EVENT IF EXISTS `enforce_non_paying_buyers` */;
DELIMITER ;;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;;
/*!50003 SET character_set_client  = utf8mb4 */ ;;
/*!50003 SET character_set_results = utf8mb4 */ ;;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;;
/*!50003 SET @saved_time_zone      = @@time_zone */ ;;
/*!50003 SET time_zone             = 'SYSTEM' */ ;;
/*!50106 CREATE*/ /*!50117 DEFINER=`leila`@`localhost`*/ /*!50106 EVENT `enforce_non_paying_buyers` ON SCHEDULE EVERY 1 HOUR STARTS '2026-07-31 01:50:06' ON COMPLETION NOT PRESERVE ENABLE DO BEGIN
    DECLARE done INT DEFAULT 0;
    DECLARE v_order_id INT;
    DECLARE v_buyer_id INT;
    DECLARE v_listing_id INT;
    DECLARE v_title VARCHAR(200);
    DECLARE v_auction_id INT;
    DECLARE v_seller_id INT;
    DECLARE v_new_highest DECIMAL(10,2);
    DECLARE v_start_bid DECIMAL(10,2);

    DECLARE npb_cursor CURSOR FOR
        SELECT o.order_id, o.buyer_id, o.listing_id, l.title, l.seller_id, a.auction_id
        FROM ORDERS o
        JOIN LISTINGS l ON o.listing_id = l.listing_id
        JOIN AUCTIONS a ON a.listing_id = l.listing_id AND a.status = 'Closed'
        LEFT JOIN PAYMENTS p ON p.order_id = o.order_id AND p.payment_status = 'Completed'
        WHERE o.status = 'Preparing'
          AND p.payment_id IS NULL
          AND o.order_date <= DATE_SUB(NOW(), INTERVAL 24 HOUR);
    DECLARE CONTINUE HANDLER FOR NOT FOUND SET done = 1;

    OPEN npb_cursor;
    read_loop: LOOP
        FETCH npb_cursor INTO v_order_id, v_buyer_id, v_listing_id, v_title, v_seller_id, v_auction_id;
        IF done THEN LEAVE read_loop; END IF;

        -- ACID: explicit transaction per non-paying order (Atomicity), so a
        -- failure on one order never leaves another half-processed.
        START TRANSACTION;

            UPDATE ORDERS SET status = 'Cancelled' WHERE order_id = v_order_id;

            -- Exclude the non-paying buyer's winning bid from being picked
            -- again, but keep the row (retains prior bid history per spec).
            UPDATE BIDDINGS SET is_deleted = 1
             WHERE auction_id = v_auction_id AND buyer_id = v_buyer_id
             ORDER BY bid_amount DESC LIMIT 1;

            SELECT MAX(bid_amount) INTO v_new_highest FROM BIDDINGS WHERE auction_id = v_auction_id AND is_deleted = 0;
            SELECT start_bid INTO v_start_bid FROM AUCTIONS WHERE auction_id = v_auction_id;

            -- If the non-paying buyer was the only bidder, reopen at the
            -- original start_bid rather than dropping to 0. (start_bid was
            -- read into a variable above, not re-selected from AUCTIONS
            -- inside this UPDATE, since MySQL disallows a subquery on the
            -- same table you're updating.)
            UPDATE AUCTIONS
               SET status = 'Active',
                   end_time = DATE_ADD(NOW(), INTERVAL 24 HOUR),
                   current_highest_bid = IFNULL(v_new_highest, v_start_bid)
             WHERE auction_id = v_auction_id;

            UPDATE LISTINGS SET is_active = 1 WHERE listing_id = v_listing_id;

            INSERT INTO PENALTIES (buyer_id, reason, penalty_type)
            VALUES (v_buyer_id, CONCAT('Did not pay for won auction "', v_title, '" (Order #', v_order_id, ') within 24 hours'), 'Bidding Suspension');

            INSERT INTO NOTIFICATIONS (buyer_id, title, message, notification_type)
            VALUES (v_buyer_id, 'Auction Win Forfeited',
                    CONCAT('You did not pay for "', v_title, '" within 24 hours, so your win was forfeited and a bidding restriction was applied.'), 'AUCTION');

            INSERT INTO NOTIFICATIONS (seller_id, title, message, notification_type)
            VALUES (v_seller_id, 'Buyer Did Not Pay ΓÇö Re-listed',
                    CONCAT('The winning bidder for "', v_title, '" did not pay in time. Bidding has reopened for 24 more hours among the remaining bidders.'), 'AUCTION');

        COMMIT;
    END LOOP;
    CLOSE npb_cursor;
END */ ;;
/*!50003 SET time_zone             = @saved_time_zone */ ;;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;;
/*!50003 SET character_set_client  = @saved_cs_client */ ;;
/*!50003 SET character_set_results = @saved_cs_results */ ;;
/*!50003 SET collation_connection  = @saved_col_connection */ ;;
/*!50106 DROP EVENT IF EXISTS `flag_late_shipments` */;;
DELIMITER ;;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;;
/*!50003 SET character_set_client  = utf8mb4 */ ;;
/*!50003 SET character_set_results = utf8mb4 */ ;;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;;
/*!50003 SET @saved_time_zone      = @@time_zone */ ;;
/*!50003 SET time_zone             = 'SYSTEM' */ ;;
/*!50106 CREATE*/ /*!50117 DEFINER=`leila`@`localhost`*/ /*!50106 EVENT `flag_late_shipments` ON SCHEDULE EVERY 1 HOUR STARTS '2026-07-31 01:50:05' ON COMPLETION NOT PRESERVE ENABLE DO BEGIN
    INSERT INTO PENALTIES (seller_id, reason, penalty_type)
    SELECT o.seller_id,
           CONCAT('[LATE-SHIP-ORDER-#', o.order_id, '] Order not shipped within 48 hours of payment.'),
           'Selling Suspension'
    FROM ORDERS o
    JOIN PAYMENTS p   ON p.order_id = o.order_id AND p.payment_status = 'Completed'
    LEFT JOIN SHIPMENTS s ON s.order_id = o.order_id
    WHERE o.status = 'Preparing'
      AND s.shipment_id IS NULL
      AND o.order_date < DATE_SUB(NOW(), INTERVAL 48 HOUR)
      AND NOT EXISTS (
          SELECT 1 FROM PENALTIES pe
          WHERE pe.seller_id = o.seller_id
            AND pe.reason LIKE CONCAT('%[LATE-SHIP-ORDER-#', o.order_id, ']%')
      );
END */ ;;
/*!50003 SET time_zone             = @saved_time_zone */ ;;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;;
/*!50003 SET character_set_client  = @saved_cs_client */ ;;
/*!50003 SET character_set_results = @saved_cs_results */ ;;
/*!50003 SET collation_connection  = @saved_col_connection */ ;;
/*!50106 DROP EVENT IF EXISTS `remind_non_paying_buyers` */;;
DELIMITER ;;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;;
/*!50003 SET character_set_client  = utf8mb4 */ ;;
/*!50003 SET character_set_results = utf8mb4 */ ;;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;;
/*!50003 SET @saved_time_zone      = @@time_zone */ ;;
/*!50003 SET time_zone             = 'SYSTEM' */ ;;
/*!50106 CREATE*/ /*!50117 DEFINER=`leila`@`localhost`*/ /*!50106 EVENT `remind_non_paying_buyers` ON SCHEDULE EVERY 1 HOUR STARTS '2026-07-31 01:50:06' ON COMPLETION NOT PRESERVE ENABLE DO BEGIN
    INSERT INTO NOTIFICATIONS (buyer_id, title, message, notification_type)
    SELECT o.buyer_id, 'Payment Reminder',
           CONCAT('[NPB-REMIND-ORDER-#', o.order_id, '] You won "', l.title, '" ΓÇö please pay within 12 hours or your win will be forfeited and the item re-listed.'),
           'ORDER'
    FROM ORDERS o
    JOIN LISTINGS l ON o.listing_id = l.listing_id
    JOIN AUCTIONS a ON a.listing_id = l.listing_id AND a.status = 'Closed'
    LEFT JOIN PAYMENTS p ON p.order_id = o.order_id AND p.payment_status = 'Completed'
    WHERE o.status = 'Preparing'
      AND p.payment_id IS NULL
      AND o.order_date <= DATE_SUB(NOW(), INTERVAL 12 HOUR)
      AND o.order_date >  DATE_SUB(NOW(), INTERVAL 24 HOUR)
      AND NOT EXISTS (
          SELECT 1 FROM NOTIFICATIONS n
          WHERE n.buyer_id = o.buyer_id
            AND n.message LIKE CONCAT('%[NPB-REMIND-ORDER-#', o.order_id, ']%')
      );
END */ ;;
/*!50003 SET time_zone             = @saved_time_zone */ ;;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;;
/*!50003 SET character_set_client  = @saved_cs_client */ ;;
/*!50003 SET character_set_results = @saved_cs_results */ ;;
/*!50003 SET collation_connection  = @saved_col_connection */ ;;
DELIMITER ;
/*!50106 SET TIME_ZONE= @save_time_zone */ ;

--
-- Dumping routines for database 'thriftbid_db2'
--

-- insufficient privileges to SHOW CREATE PROCEDURE `sp_admin_platform_stats`
-- does CBDBADM01 have permissions on mysql.proc?

